<style>

        /*.navbar-static-top {
            min-height: 100px;
         }

    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 80px;
    }

    @@media (max-width: 767px) {
        .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
    }*/

</style>



<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0" id="topNav">
        <div class="navbar-header">
            

            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>
